# List

In [2]:
l = ["sai",67,89.07,"harish",True,"sai",89.07]
print(l)
print(type(l))

['sai', 67, 89.07, 'harish', True, 'sai', 89.07]
<class 'list'>

In [6]:
#Access a particular value -> V_n[index] -> index(position)

print(l[3])   #+'ve indexing
print(l[-4])   #-'ve indexing

harish
harish

In [18]:
#Access Multiple values at a time -> slicing method -> V_n[StartIndex:StopIndex:Step]

print(l)
print(l[1:4])  #started at ceratin pos. and ending at certain pos.
print(l[:4])   #started at beginning pos.(0) and ending at certain pos.
print(l[3:])   #started at ceratin pos. and ending at end pos.
print(l[:])    #reads all values at a time 
print(l[::-1])  #read values in reverse order

['sai', 67, 89.07, 'farooq', True, 'sai', 89.07]
[67, 89.07, 'farooq']
['sai', 67, 89.07, 'farooq']
['farooq', True, 'sai', 89.07]
['sai', 67, 89.07, 'farooq', True, 'sai', 89.07]
[89.07, 'sai', True, 'farooq', 89.07, 67, 'sai']

In [20]:
print(l)
#Even position values from list

print(l[::2])

['sai', 67, 89.07, 'farooq', True, 'sai', 89.07]
['sai', 89.07, True, 89.07]

In [8]:
#Reassign -> V_n[index] = new_value -> index

#Replace 3rd position value with new value
print(l)
l[3] = "farooq"
print(l)

['sai', 67, 89.07, 'harish', True, 'sai', 89.07]
['sai', 67, 89.07, 'farooq', True, 'sai', 89.07]

In [4]:
#Empty List

l1 = []
print(l1)
print(type(l1))
print()

l2 = list()
print(l2)
print(type(l2))

[]
<class 'list'>

[]
<class 'list'>

In [21]:
print(l)

['sai', 67, 89.07, 'farooq', True, 'sai', 89.07]

In [22]:
#len(v_n)

print(len(l))

7

In [24]:
#index(value)-> V_n.index(value,start_Index)

print(l.index("sai"))
print(l.index("sai",1))

0
5

In [27]:
#count() -> V_n.count(value)

print(l.count("sai"))
print(l.count(67))
print(l.count("Girish"))

2
1
0

In [32]:
a = [89,12,33,16,11,87,45,94]

#min() -> min(v_n)
print(min(a))

#max() -> max(v_n)
print(max(a))

#sum() -> sum(v_n)
print(sum(a))

11
94
387

In [33]:
#finding sum of all values in list

a = [89,12,33,16,11,87,45,94]

s = 0
for i in a:
    s = s+i
print("sum:",s)

sum: 387

In [ ]:
#find minimum and maximum values from the list
a = [89,12,33,16,11,87,45,94]

In [61]:
#maximum value

a = [89,12,33,16,11,87,45,94]

max_value = 0
for i in a:
    if max_value == 0 or max_value < i:
        max_value = i
        
print(max_value)

94

In [67]:
#minimum value

a = [89,12,33,16,11,87,45,94]

min_value = 0
for i in a:
    if min_value == 0 or min_value > i:
        min_value = i
        
print(min_value)

11

In [35]:
print(l)

['sai', 67, 89.07, 'farooq', True, 'sai', 89.07]

In [36]:
#add new value to a list
#append()-> v_n.append(newvalue) 

l.append("laxmi")
print(l)

['sai', 67, 89.07, 'farooq', True, 'sai', 89.07, 'laxmi']

In [37]:
#extend()-> v_n.extend([newvalue1,newvalue2,-------]) 

l.extend(["pavan",60,56.89,"mani"])
print(l)

['sai', 67, 89.07, 'farooq', True, 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89, 'mani']

In [38]:
#insert()-> v_n.insert(index,newvalue)

l.insert(2,"kiran")
print(l)

['sai', 67, 'kiran', 89.07, 'farooq', True, 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89, 'mani']

In [39]:
#Delete values from list

#pop()-> v_n.pop()
print(l)
print(l.pop())
print(l)

['sai', 67, 'kiran', 89.07, 'farooq', True, 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89, 'mani']
mani
['sai', 67, 'kiran', 89.07, 'farooq', True, 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89]

In [40]:
#pop()-> v_n.pop(index)
print(l)
print(l.pop(3))
print(l)

['sai', 67, 'kiran', 89.07, 'farooq', True, 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89]
89.07
['sai', 67, 'kiran', 'farooq', True, 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89]

In [41]:
#remove() -> v_n.remove(value)
print(l)
l.remove("sai")
print(l)

['sai', 67, 'kiran', 'farooq', True, 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89]
[67, 'kiran', 'farooq', True, 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89]

In [42]:
#del -> del v_n[index]

print(l)
del l[3]
print(l)

[67, 'kiran', 'farooq', True, 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89]
[67, 'kiran', 'farooq', 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89]

In [43]:
#clear() -> v_n.clear()

print(l)
l.clear()
print(l)

[67, 'kiran', 'farooq', 'sai', 89.07, 'laxmi', 'pavan', 60, 56.89]
[]

In [44]:
#del v_n

del l
print(l)

NameError: name 'l' is not defined

<h2>List Operators</h2>

1. Concatenation Operator
2. Repetition Operator

In [47]:
#concatenation(+)

l1 = [45,78,"usha"]
l2 = ["pavan",67,90.06]
l3 = l1+l2
print(l1)
print(l2)
print(l3)

[45, 78, 'usha']
['pavan', 67, 90.06]
[45, 78, 'usha', 'pavan', 67, 90.06]

In [50]:
#repetition(*)

l1 = [45,78,"usha"]
l2 = l1*2
print(l1)
print(l2)

[45, 78, 'usha']
[45, 78, 'usha', 45, 78, 'usha']

In [52]:
#iterate list

l1 = [45,78,"usha","kiran",89,12.89]

for i in l1:
    print(i,end=" ")

45 78 usha kiran 89 12.89

In [53]:
#copy()

l1 = [45,78,"usha","kiran",89,12.89]   #original
l2 = l1.copy()   #duplicated

print(l1)
print(l2)

[45, 78, 'usha', 'kiran', 89, 12.89]
[45, 78, 'usha', 'kiran', 89, 12.89]

In [54]:
l2.append("vani")
print(l2)

[45, 78, 'usha', 'kiran', 89, 12.89, 'vani']

In [55]:
print(l1)

[45, 78, 'usha', 'kiran', 89, 12.89]

In [57]:
#reverse()-> v_n.reverse()

l1 = [45,78,"usha","kiran",89,12.89]
print("Original list:",l1)
l1.reverse()
print("After reversing the list :",l1)

Original list: [45, 78, 'usha', 'kiran', 89, 12.89]
After reversing the list : [12.89, 89, 'kiran', 'usha', 78, 45]

In [59]:
#sort() -> ascending /descending order

a = [89,12,33,16,11,87,45,94]
print(a)
a.sort() #ascending
print(a)

[89, 12, 33, 16, 11, 87, 45, 94]
[11, 12, 16, 33, 45, 87, 89, 94]

In [60]:
a = [89,12,33,16,11,87,45,94]
print(a)
a.sort(reverse=True) #descending
print(a)

[89, 12, 33, 16, 11, 87, 45, 94]
[94, 89, 87, 45, 33, 16, 12, 11]

# List Comprehension

In [2]:
a = [89,12,33,16,11,87,45,94]
print(a)

#even positioned values->slicing
b = a[::2]
print(b)

[89, 12, 33, 16, 11, 87, 45, 94]
[89, 33, 11, 45]

In [3]:
a = [89,12,33,16,11,87,45,94]

#print even values as my new list

b = [] #empty list
for i in a:
    if i%2 == 0:
        b.append(i)
print(b)

[12, 16, 94]

In [8]:
a = [89,12,33,16,11,87,45,94]

#iterate

for i in a:
    print(i,end=" ")
    
print("\n",type(i))

89 12 33 16 11 87 45 94
 <class 'int'>

In [9]:
#[expression for v_n in SDT]

a = [89,12,33,16,11,87,45,94]
x = [i for i in a]
print(x)
print(type(x))

[89, 12, 33, 16, 11, 87, 45, 94]
<class 'list'>

In [4]:
#[expression for v_n in SDT if condition]

a = [89,12,33,16,11,87,45,94]

#print even values as my new list

b = [i for i in a if i%2==0]
print(b)

[12, 16, 94]

# Tuple and Set Comprehension

In [13]:
a = [89,12,33,16,11,87,45,94]

#iterate
x = tuple([i for i in a])
print(x)
print(type(x))

{33, 11, 12, 45, 16, 87, 89, 94}
<class 'set'>

In [14]:
a = [89,12,33,16,11,87,45,94]

#iterate
x = set([i for i in a])
print(x)
print(type(x))

{33, 11, 12, 45, 16, 87, 89, 94}
<class 'set'>